name: CI

on:
  pull_request:
  push:
    branches: main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      FIXTURES_NO_RECORD: 1

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - run: pip install cram
      - run: make test
